* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

ul {
  list-style: none;
}

body {
  background-color: var(--body-bg-color);
  margin: 40px;
  font-family: "Merriweather", sans-serif;

display: flex;

}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

header .card-profile {
  width: 348px;
  height: 292px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 32px;
  transition: transform 0.4s;
  cursor: pointer;
}

header .card-profile img {
  width: 128px;
  height: 128px;

  border-radius: 50%;
  border: 2px solid #00ff00;
}

header .card-profile:hover {
  transform: scale(1.1);
}

header .card-profile h1 {
  margin-top: 30px;

  font-size: 23px;
  font-weight: 700;

  color: var(--text-color);
}

header .card-profile p {
  margin-top: 10px;

  font-size: 13px;
  line-height: 16px;
  color: var(--text-color);
}

header .card-links {
  width: 348px;
  height: 348px;

  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px 40px;
  transition: transform 0.4s;
  cursor: pointer;
}
header .card-links ul {
  display: flex;
  flex-direction: column;

  gap: 21px;
}

header .card-links:hover {
  transform: scale(1.1);
}

header .card-links ul li a {
  color: var(--text-color);
}

header .card-links ul li a {
  display: flex;
  align-items: center;
  gap: 23px;
}

header .card-tech {
  width: 348px;
  height: 208px;

  display: flex;
  flex-direction: column;
  align-items: left;

  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  transition: transform 0.4s;
  cursor: pointer;

  color: var(--text-color);
}

header .card-tech:hover {
  transform: scale(1.1);
}

header .card-tech ul {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  gap: 15px;
}

header .card-tech ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 86px;
  height: 24px;
  background-color: var(--bg-techs);

  border-radius: 30px;

  font-weight: 700;
  font-size: 10px;
  text-align: center;

  color: #000000;
}

header .card-experiences {
  width: 348px;
  height: 349px;

  display: flex;
  flex-direction: column;
  align-items: left;

  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  transition: transform 0.4s;
  cursor: pointer;

  color: var(--text-color);
}

header .card-experiences:hover {
  transform: scale(1.1);
}

header .card-experiences ul {
  list-style: initial;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  padding: 0 40px;


}

header .card-experiences ul li h1{
  font-weight: 700;
  font-size: 14px;
}


header .card-education {
  width: 348px;
  height: 349px;

  display: flex;
  flex-direction: column;
  align-items: left;

  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  transition: transform 0.4s;
  cursor: pointer;

  color: var(--text-color);
}

header .card-education:hover {
  transform: scale(1.1);
}

header .card-education ul {
  list-style: initial;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  padding: 0 40px;
  
}

header .card-education ul li h1{
  font-weight: 700;
  font-size: 14px;
}


